
body { background:#EEE;}

/* Page Layout */
#container { width:710px; margin:0 auto; background:#fff; border:1px solid #ccc;  }
#wrapper {  padding:20px 40px; position:relative; }


h1 { font-size:34px; padding:15px 0;}

#content { padding:3px 0; clear:both; }

#header { padding:0; position:relative; height:64px;}
    #header h1 {  padding:0; }
        #header h1 a { letter-spacing:-0.05em; color:#FCAD23; margin-top:-20px;  border-bottom:5px solid #FCAD23;}
            #header h1 a:hover { text-decoration: none;}
        #header .permalinks { position:absolute; right: -53px; top:20px; }
        #header .username { font-size:13px; position:absolute; right:0px; top:-13px; color:#BBB; }
            #header .username a { font-weight: bold; color:#AAA; }

#navigation { padding:4px; position:absolute; top:9px; left:153px; width:515px;}
    #navigation .btn { float:right; margin-left: 5px;}
        #navigation #search a.btn {  float:left; padding:6px;}
        #navigation #search input.search { width:250px; float:left; }
        #navigation #search input.submit { margin-left:4px;}
        #navigation #search div.actions { display:inline; float:left;}
        div.post, div.post p { font-size:14px;}

div.post_list .single_post { clear:both; border-bottom: 1px dotted #999; padding: 5px 0;}
    div.post_list .single_post h4 { line-height:30px;font-size:20px; margin:0;  }
    div.post_list .single_post .label.time { float:right; margin-top:10px;}
    div.post_list .single_post .tags { float:left;}
div.post_list { border-top:1px solid #DDD; }
    div.post_list .meta { font-size:12px; float:right; margin-right:-3px;}
    div.post_list .meta .label a { font-weight:normal;  color:white;}
div.excerpt { clear:both; font-size:12px;}

.post_meta td .label{ float: right;}
.post_meta td:last-child { text-align: right;}


div.comments { margin-top:40px;}
    div.comment { margin-bottom:50px;  position:relative;}
        div.comment .picture { position:absolute; padding-bottom:10px; }
            div.comment .picture img {  }
        div.comment .content { padding-left:90px; }
        div.comment .content .title {  font-size:12px; color:#888; padding:3px;}
        div.comment .content .body { padding:3px;}
            div.comment .content .body p { margin-top:0;}

        div.comment div.textarea { margin-bottom:0;}
            div.comment div.textarea label { display:none;}
    div.comment.add_comment textarea { height:90px; width:520px;}
        div.comment.add_comment .submit { margin-top:2px; text-align: right;}

        div.comment .delete_link { font-size:12px; font-weight:normal;}

div.comment label { display:none;}

input.wide, textarea.wide { width:600px;}

p.edit_links .btn { float:right; margin-top:16px;}
div.large_tags .btn { margin-bottom:6px;}

.highlight { background:yellow;}

/*
.meta_sections {  font-size:12px;  }
    .meta_section a { text-decoration: none;}
        .meta_section .divider { float:right; padding: 0 3px; color:#999;}
        .meta_section a.edit_link { float:right; font-weight:normal;}
    .meta_section { padding:3px 5px;}
        .meta_section .label { font-weight:bold;}
        .meta_section { border-bottom:1px dotted #AAA;}
        .meta_section:last-child { border:none;}

    div.page_meta .admin { float:right;}

div.subscribers .manage_subscription.unsubscribe a { color: #BF2626; }
div.subscribers .manage_subscription.subscribe a { color: #26BF57; }

div.content { clear:both;margin-top:20px;}

div.checkbox { padding:0; margin:0;}
*/
.wmd-button-bar { width: 100%; margin:0; padding:0; margin-bottom:4px; }
.wmd-input {height: 230px;  border: 1px solid DarkGray; margin-top:3px; }
.wmd-preview { padding:10px 12px; background-color: #F3F3F3; border:1px dashed #DDD; margin:10px 0;}
.wmd-button-row { position: relative; margin:0; padding: 0px; height: 20px;}
.wmd-spacer { width: 1px; height: 20px; margin-left: 14px; position: absolute; background-color: Silver; display: inline-block; list-style: none; }
.wmd-button { width: 20px; height: 20px; padding-left: 2px; padding-right: 3px; position: absolute; display: inline-block; list-style: none; cursor: pointer; margin:0;}
.wmd-button > span {background-image: url('/img/wmd-buttons.png');background-repeat: no-repeat;background-position: 0px 0px;width: 20px;height: 20px;display: inline-block; }
.wmd-spacer1 { left: 50px; }
.wmd-spacer2 { left: 175px; }
.wmd-spacer3 { left: 300px;}
.wmd-prompt-background { background-color: Black;}
.wmd-prompt-dialog { border: 1px solid #999999; background-color: #F5F5F5; padding:0 12px;}
.wmd-prompt-dialog > div { font-size: 0.8em; font-family: arial, helvetica, sans-serif; }
.wmd-prompt-dialog > form > input[type="text"] { border: 1px solid #999999; color: black;}
.wmd-prompt-dialog > form > input[type="button"]{ border: 1px solid #888888; font-family: trebuchet MS, helvetica, sans-serif; font-size: 0.8em; font-weight: bold;}





